table.rounded-corners {
 /* We need this to be able to use border-radius. */
 border-collapse: separate;

 /* Add a 1px border spacing for out box-shadow to fit into. Increase this if you want to increase the border width. */
 border-spacing: 1px;
}

table.rounded-corners th, table.rounded-corners td {
 /* Remove any borders from our stylesheet. */
 border: 0;

 /* Use the spread value on the box-shadow to set the border width. */
 box-shadow: 0 0 0 1px black;
}