/* .sticky-header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.3); 
    width: 100%;
    z-index: 1000; 
    backdrop-filter: blur(30px); 
    -webkit-backdrop-filter: blur(30px); 
   
} */


.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.6); 
  backdrop-filter: blur(32px); 
    -webkit-backdrop-filter: blur(32px); 
}
.slow-transition {
  transition: all 5s ease-in-out;
}
/* .container {
  position: relative;
} */

/* .use-case-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
} */
